<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="ISO-8859-1">
    <title>Meeting Office Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <style type="text/css">


    </style>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Home/Add Organization/</strong>&nbsp; To add an Organization
    <a href="" data-toggle="modal" data-target="#exampleModal" >Click here</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Organization</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form th:action="@{/organization/save}" method="post"
                      style="max-width: 600px; margin: 0 auto;"
                      th:object="${organization}">
                        <div class="form-group row">
                            <label class="col-form-label col-4">Organization ID</label>
                            <div class="col-8">
                                <input type="number" class="form-control" th:field="*{id}" required/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-4">Organization Name</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" th:field="*{organization_name}" required/>
                                </div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                </form>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>